 <ion-content>

    <ion-card class="login">
        <ion-card-header>
          <ion-card-title class="header">Iniciar Sesión</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form action="" class="center">
            <ion-item class="user">
              <ion-label position="floating" >Usuario</ion-label>
              <ion-input [(ngModel)]="email" name="email"></ion-input>
            </ion-item>
            <ion-item class="user">
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input [(ngModel)]="password" type="password" name="password"></ion-input>
            </ion-item>
          </form>
          <ion-button (click)="OnSubmitLogin()" class="button">Registrarse</ion-button>
          <br/>
        </ion-card-content>
      </ion-card>

 </ion-content>      
  



