

<ion-content>

    <ion-card>
        <ion-card-header>
          <ion-card-title>Registrarse</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form action="">
            <ion-item>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Apellidos</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating"></ion-label>Edad</ion-label>
              <ion-input type="number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Correo</ion-label>
              <ion-input type="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">País</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Departamento</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Municipio</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Teléfono</ion-label>
                <ion-input type="tel"></ion-input>
            </ion-item>
              
          </form>
        </ion-card-content>
      </ion-card>

</ion-content>
