<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button (click)='goProfile()'><ion-icon name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card id="section" class="card">
    <ion-card-header>
      <ion-card-title>Editando Información del Perfil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card>
        <ion-card-content>
          <form action="user" class="center">
            <ion-item class="">
              <ion-label position="floating" >Nombre</ion-label>
              <ion-input ></ion-input>
            </ion-item>
            <ion-item class="">
              <ion-label position="floating" >Apellido</ion-label>
              <ion-input ></ion-input>
            </ion-item>
            <ion-item class="">
              <ion-label position="floating" >Departamento</ion-label>
              <ion-input ></ion-input>
            </ion-item>
            <ion-item class="">
              <ion-label position="floating" >Municipio</ion-label>
              <ion-input ></ion-input>
            </ion-item>
            <ion-item class="user">
              <ion-label position="floating">Contraseña actual</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item class="">
              <ion-label position="floating" >Nueva Contraseña</ion-label>
              <ion-input ></ion-input>
            </ion-item>
          </form>
          <ion-button (click)="OnSubmitLogin()" class="buttonupdate">Actualizar Datos</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>

 </ion-content>