<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button (click)='back()'><ion-icon name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card class="centerText">
        <ion-card-header class="user-photo">
          <ion-avatar class="photo">
            <img src="https://www.pngarts.com/files/3/Avatar-Transparent-Image.png">
          </ion-avatar>
          <ion-card-title>Eliab Javier Selva Cruz</ion-card-title>
          <ion-card-subtitle>eliabjselvacruz51@gmail.com</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="size">
          <ion-fab vertical="center" horizontal="center">
            <ion-fab-button size="small"><ion-icon name="logo-buffer"></ion-icon></ion-fab-button>
            <ion-fab-list side="start">
              <ion-fab-button (click)='goEditProfile()'><ion-icon name="create"></ion-icon></ion-fab-button>
            </ion-fab-list>
            <ion-fab-list side="end">
              <ion-fab-button><ion-icon name="stats"></ion-icon></ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </ion-card-content>
      </ion-card>
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://image.flaticon.com/icons/svg/149/149071.svg">
          </ion-avatar>
          <ion-label>
            <h5 class="colorGray">Nombre:</h5>
            <h2>Eliab Javier</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://image.flaticon.com/icons/svg/149/149071.svg">
          </ion-avatar>
          <ion-label>
            <h5 class="colorGray">Apellido:</h5>
            <h2>Selva Cruz</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://image.flaticon.com/icons/svg/149/149071.svg">
          </ion-avatar>
          <ion-label>
            <h5 class="colorGray">Correo:</h5>
            <h2>eliabjselvacruz51@gmail.com</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://image.flaticon.com/icons/svg/149/149071.svg">
          </ion-avatar>
          <ion-label>
            <h5 class="colorGray">Departamento:</h5>
            <h2>Chontales</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://image.flaticon.com/icons/svg/149/149071.svg">
          </ion-avatar>
          <ion-label>
            <h5 class="colorGray">Municipio:</h5>
            <h2>Juigalpa</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="goleaderBoard()"><ion-icon name="trophy"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="goChallenges()"><ion-icon name="flash"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab> 
  
</ion-content>
